<ion-view view-title="Survey">
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-right" ng-repeat="survey in surveys" type="item-text-wrap" href="#/tab/surveys/{{survey.id}}">
        <h2>{{survey.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(survey)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>