<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{survey.name}}">
  <ion-content class="padding">
    <p>
      {{survey.description}}
    </p>
    <button class="button button-full button-positive">
      Launch Survey
    </button>
  </ion-content>
</ion-view>
